<!DOCTYPE>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        직급 목록
    </title>
    <link th:href="@{/css/position/list.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>직급 목록</h1>
<button type="button" onclick="location.href='/employee/list'">사원 목록</button>
<button type="button" onclick="location.href='/employee/create'">사원 생성</button>
<button type="button" onclick="location.href='/department/list'">부서 목록</button>
<button type="button" onclick="location.href='/department/create'">부서 생성</button>
<button type="button" onclick="location.href='/position/create'">직급 생성</button>
<button type="button" onclick="location.href='/employment/list'">근무 유형 목록</button>
<button type="button" onclick="location.href='/employment/create'">근무 유형 생성</button>
<button type="button" onclick="location.href='/salaryType/list'">급여 유형 목록</button>
<button type="button" onclick="location.href='/salaryType/create'">급여 유형 생성</button>
<table>
    <thead>
    <tr>
        <th>직급 코드</th>
        <th>직급명</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="position : ${positionList}">
        <td th:text="${position.positionCode}"></td>
        <td th:text="${position.positionName}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
