<!DOCTYPE>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        근무 유형 목록
    </title>
    <link th:href="@{/css/employment/list.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>근무 유형 목록</h1>
<button type="button" onclick="location.href='/employee/list'">사원 목록</button>
<button type="button" onclick="location.href='/employee/create'">사원 생성</button>
<button type="button" onclick="location.href='/department/list'">부서 목록</button>
<button type="button" onclick="location.href='/department/create'">부서 생성</button>
<button type="button" onclick="location.href='/position/list'">직급 목록</button>
<button type="button" onclick="location.href='/position/create'">직급 생성</button>
<button type="button" onclick="location.href='/employment/create'">근무 유형 생성</button>
<table>
    <thead>
    <tr>
        <th>근무 유형 코드</th>
        <th>근무 유형명</th>
        <th>부가 설명</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employment : ${employmentList}">
        <td th:text="${employment.employmentType}"></td>
        <td th:text="${employment.employmentName}"></td>
        <td th:text="${employment.employmentComment}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
