<!DOCTYPE>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        사원 생성
    </title>
</head>
<body>
<h1>사원 생성</h1>
<form th:action="@{/employee/create}" method="post">
    <div>
        <label for="name">이름</label>
        <input type="text" id="name" />
    </div>
    <div>
        <label for="gender">성별</label>
        <input type="text" id="gender" />
    </div>
    <div>
        <label for="birth">생년월일</label>
        <input type="date" id="birth" />
    </div>
    <div>
        <label for="personalPhoneNumber">개인 전화번호</label>
        <input type="text" id="personalPhoneNumber" />
    </div>
    <div>
        <label for="externalTellNumber">사내 외부번호</label>
        <input type="text" id="externalTellNumber" />
    </div>
    <div>
        <label for="internalTellNumber">사내 내선번호</label>
        <input type="text" id="internalTellNumber" />
    </div>
    <div>
        <label for="personalEmailAddress">개인 이메일 주소</label>
        <input type="text" id="personalEmailAddress" />
    </div>
    <div>
        <label for="companyEmailAddress">사내 이메일 주소</label>
        <input type="text" id="companyEmailAddress" />
    </div>
    <div>
        <label for="departmentCode">부서</label>
        <select id="departmentCode">
            <option value="">부서를 선택해주세요.</option>
            <option th:each="department:${departmentList}" th:value="${department.departmentCode}" th:text="${department.departmentName}"></option>
        </select>
    </div>
    <div>
        <label for="positionCode">직급</label>
        <select id="positionCode">
            <option value="">직급을 선택해주세요.</option>
            <option th:each="position:${positionList}" th:value="${position.positionCode}" th:text="${position.positionName}"></option>
        </select>
    </div>
    <div>
        <label for="joinDate">입사일</label>
        <input type="date" id="joinDate" />
    </div>
    <div>
        <label for="employmentType">근무 유형</label>
        <select id="employmentType">
            <option value="">근무 유형을 선택해주세요.</option>
            <option th:each="employment:${employmentList}" th:value="${employment.employmentType}" th:text="${employment.employmentName}"></option>
        </select>
    </div>
    <div>
        <input type="submit" value="생성" />
    </div>
</form>
<script type="text/javascript" th:src="@{/js/employee/create.js}"></script>
</body>
</html>
