<!DOCTYPE>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        사원 정보
    </title>
    <link th:href="@{/css/employee/read.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>사원 정보</h1>
<ul>
    <li th:text="@{|사원 번호: ${employee.employeeId}|}">사원 번호</li>
    <li>이름</li>
    <li>성별</li>
    <li>생년월일</li>
    <li>개인 전화번호</li>
    <li>사내 외부번호</li>
    <li>사내 내선번호</li>
    <li>개인 이메일 주소</li>
    <li>사내 이메일 주소</li>
    <li>부서</li>
    <li>직급</li>
    <li>입사일</li>
    <li>퇴사일</li>
    <li>근무 유형</li>
    <li>남은 연차</li>
</ul>
<h1>급여 정보</h1>
<ul>
    <li>급여 지급 유형</li>
    <li>급여 지급일</li>
    <li>기본급</li>
    <li>성과급</li>
    <li>특수급</li>
</ul>
<h1>성과 정보</h1>
<table>
    <thead>
    <tr>
        <th>순번</th>
        <th>성과 평가 시작 날짜</th>
        <th>성과 평가 종료 날짜</th>
        <th>성과 평가 항목</th>
        <th>성과 평가 결과</th>
        <th>성과 평가 비고</th>
        <th>성과 평가자</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </tbody>
</table>
<h1>휴가 정보</h1>
<table>
    <thead>
    <tr>
        <th>순번</th>
        <th>휴가 종류</th>
        <th>시작 날짜</th>
        <th>종료 날짜</th>
        <th>사용 일수</th>
        <th>잔여 일수</th>
        <th>휴가 목적</th>
        <th>승인자</th>
        <th>휴가 신청 날짜</th>
        <th>휴가 승인 날짜</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </tbody>
</table>
<h1>근태 정보</h1>
<table>
    <thead>
    <tr>
        <th>날짜</th>
        <th>요일</th>
        <th>출근 시각</th>
        <th>퇴근 시각</th>
        <th>비고</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </tbody>
</table>
</body>
</html>
